.products {
  display: flex;
  margin-top: 20px;
}
.products__filters {
  margin-right: 34px;
  min-width: 240px;
}
.product {
  background-color: white;
  width: 276px;
  text-align: center;
  position: relative;
}
.product__info {
  padding: 0px 24px 16px 24px;
}
.product__img {
  width: 276px;
  height: 276px;
}
.product__category-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #979797;
  margin-top: 6px;
}
.product__present-name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #272727;
  margin-top: 4px;
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__comment-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
  margin-top: 9px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__price {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  color: #272727;
  margin-top: 14px;
}
.product__actions {
  position: static;
  bottom: 23px;
  padding-bottom: 23px;
  bottom: 0px;
}
